<div>
  <%- item.name %>
  <h1>Delete item "<%= item.name %>"?</h1>
  <p>You will not be able to undo this action</p>
  <form action="/item/delete/<%= item.id %>" method="POST">
    <!-- <label for="admin-password">Admin Password</label>
    <input type="text" name="admin-password" id="admin-password"/> -->
    <input type="hidden" name="name" value="<%= item.name %>" required>
    <input type="hidden" id="quantity" name="quantity" value="<%= item.quantity %>" required/>
    <% if (item.image_data) { %>
      <input type="hidden" id="image_data" name="image_data" value="<%= item.image_data %>"/>
    <% } %>
    <% if (item.category_id) { %>
      <input type="hidden" list="categories" id="category_id" value="<%= item.category_id %>" name="category_id" />
    <% } %>
    <a href="/">Cancel</a>
    <button type="submit">Delete item</button>
  </form>
</div>