<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>

  <body>
    <%- include('./components/navbar', { links: links }) %> 
    <%- include('./components/action-bar') %> 
    <% if (category_id && category_name) { %>
      <%- include('./components/update-category-confirm', {category_id: category_id, category_name: category_name}) %> 
    <% } %>
    <% for (const category_id in items) { %>
      <h1><%= categories[category_id] %></h1>
      <a href='/category/update/<%= category_id %>/<%= category_name %>'>Edit category</a>
      <div>
        <% for (const item of items[category_id]) { %>
          <p><%= item.name %></p>
        <% }%>
      </div>
    <% } %>
    <h1>No Category</h1>
      <div>
        <% for (const item of noCategoryItems) { %>
          <p><%= item.name %></p>
        <% }%>
      </div>
  </body>
</html>
