<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <a href="/">Back</a>
    <h1>Update Category</h1>
    <form action="/category/update/redirect" method="POST">
      <input type="hidden" id="id" name="id" value="<%= id %>" required/>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= name %>" required/>
      <button type="submit">Update category</button>
    </form>
    <a href='/category/delete/redirect/?id=<%= id %>&name=<%= name %>'>Delete category</a>
  </body>
</html>
